h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}
.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 122, 151);
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: .4;
  }